@using CinemaTicketManagementSystem.Utils
@model CinemaTicketManagementSystem.Models.Cinema
<h4>Cinema Details</h4>
<hr />


<div class="container">
        <div class="row">
             
            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input type="text" class="form-control" id="Name" placeholder="e.g. ABC" asp-for="Name" readonly> 
                   
                </div>
            </div>
            <div class="col-md-12 col-sm-6">
                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <textarea type="text" class="form-control" id="Description" placeholder="e.g. Non stop action" asp-for="Description" readonly>
                    </textarea>
                     
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <label asp-for="Logo">Image</label>
                    <input type="file" class="form-control-file" id="Logo" asp-for="Logo">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <a class="btn btn-primary float-left" asp-action="Index">Back to List</a>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <a class="btn btn-primary float-right" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                </div>
            </div>
        </div>
</div>
@section Scripts
    {
         @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
         }
    }
