@using CinemaTicketManagementSystem.Enums
@using CinemaTicketManagementSystem.ViewModels
@model MovieVM
<h4>Update Movie</h4>
<hr/>

<div class="container">
    <form asp-action="Update">
        <div asp-validation-summary="ModelOnly" class="text-danger">
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <input type="hidden" asp-for="Id"/>
                <div class="form-group">
                    <label asp-for="Name">Movie Name</label>
                    <input type="text" class="form-control" id="Name" placeholder="e.g. ABC" asp-for="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <label asp-for="StartDate">Start Date</label>
                    <input type="date" class="form-control" id="StartDate" asp-for="StartDate">
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <label asp-for="EndDate">End Date</label>
                    <input type="date" class="form-control" id="EndDate" asp-for="EndDate">
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <label asp-for="Price">Price</label>
                    <input type="number" class="form-control" id="Price" asp-for="Price">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <label asp-for="MovieCategory">Movie Category</label>
                    <select class="form-control" id="MovieCategory" asp-for="MovieCategory" asp-items="Html.GetEnumSelectList<MoviesCategoryEnum>()">
                    </select>
                    <span asp-validation-for="MovieCategory" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <label asp-for="CinemaId">Cinema</label>
                    <select class="form-control" id="CinemaId" asp-for="CinemaId" asp-items="@ViewBag.Cinemas">
                    </select>

                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <label asp-for="ProducerId">Producer</label>
                    <select class="form-control" id="ProducerId" asp-for="ProducerId" asp-items="@ViewBag.Producers">
                    </select>

                </div>
            </div>
            <div class="col-md-9 col-sm-6">
                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <textarea class="form-control" id="Description" placeholder="e.g. Non stop action" asp-for="Description" style="height: 102px;">
                     </textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <label asp-for="ActorIds">Actors</label>
                    <select class="form-control" id="ActorIds" asp-for="ActorIds" asp-items="@ViewBag.Actors" multiple>
                    </select>

                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <label asp-for="ImageURL">Poster</label>
                    <input type="file" class="form-control-file" id="ImageURL" asp-for="ImageURL">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <a class="btn btn-primary float-left" asp-action="Index">Back to List</a>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-info float-right" />
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts
    {
         @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
         }
    }

